body {
    font-family: Arial, sans-serif;
    background-color: #b39199;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: auto;
    overflow: hidden;
}

h1, h2 {
    text-align: center;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px;
    background-color: #5a0494;
    color: rgb(255, 254, 254);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}

.completed {
    text-decoration: line-through;
    color: #888;
}
